<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.title }}</title>
</head>
<body>
    <div>
        <form action= "{{ url_for(data.function_name) }}" method="post">
            <label for="direccion_host">Dirección IP</label>
            <input type="text" name="ip_dir" id="direccion_host" placeholder="direccion_host">
    
            <label for="direccion_Modbus">{{ data.add_label }}</label>
            <input type="number" name="Mb_Add" id="direccion_Modbus" placeholder="direccion_Modbus">
    
            <label for="Valor_Modbus">{{ data.value_label }}</label>
            <input type="text" name="Mb_val" id="Valor_Modbus" placeholder="{{ data.value_label }}">
    
            <button type="submit">Escribir</button>
        </form>
    </div>
    <div>
        {% if data.state %}
            {% if (data.function_name == "input") or (data.function_name == "contact") %}
                <h1 id="Mensaje">Datos obtenidos correctamente</h1>
            {% else %}
                <h1 id="Mensaje">Datos insertados correctamente</h1>
            {% endif %}
            <script>
                setTimeout(()=>{
                    document.getElementById("Mensaje").innerHTML="Inserte los datos"
                },2000);
            </script>
        {% else %}
            <h1 id="Mensaje">Inserte los datos</h1>
        {% endif %}
    </div>
    <div>
        {% if data.data_mb %}
            <table>
                <tr>
                    <th>Tipo</th>
                    <th>Dirección Modbus</th>
                    <th>Valor</th>
                </tr>
                {% for c in range(data.data_mb|length) %}
                <tr>
                    {% if data.function_name == "input" %}
                        <td>Input register</td>   
                    {% else %}
                        <td>Contac</td>  
                    {% endif %}
                    
                    {% if data.function_name == "input" %}
                        <td style="align-content: center;"> {{"3000"+(c+1)|string}}</td>
                    {%else%}
                        <td style="align-content: center;"> {{"1000"+(c+1)|string}}</td>
                    {%endif%}
                    <td>{{data.data_mb[c]}}</td>
                </tr>
                {% endfor %}
            </table>
            
        {% endif %}
    </div>

    <div>
        <form action="{{url_for("main")}}">
            <button type="submit">Regresar</button>
        </form>
    </div>
</body>
</html>